@font-face {
	font-family: "amorpheusregular";
	src: url("fonts/amorpheusregular.otf");
}

@font-face {
	font-family: "hpSimplified";
	src: url("fonts/hp-simplified-265.ttf");
}



html {
	overflow: clip;
}
body {
	background-color: #16033e;
	background-image: url(images/background.png);
	background-size: cover;
	margin: auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

h1, h2 {
	font-family: orgovan-rounded-web, sans-serif;
	font-weight: 400;
	font-style: normal;


}

element {
  --main-text-color: #221A42;
}

#title-page {
    background: url(images/background-title.png);
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
    position: absolute;
    z-index: 500;
    overflow: hidden;
}
#title-page button {
    /* bottom: 5%; */
    /* left: 50%; */
    /* width: 38%; */
    /* height: 8%; */
    font-size: 3em;
    padding: 25px;
    position: relative;
}
div#title-bottom {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
#title-ship {
    background: url(images/ship-title.png);
    width: 200%;
    left: -50%;
    position: absolute;
    overflow: hidden;
    height: 126%;
    top: -16%;
    background-size: contain;
    /* z-index: 550; */
    background-position: center;
    background-repeat: no-repeat;
}
#title-text {
	background: url(images/logo-en.png);
    width: 100%;
    height: 36%;
    background-size: contain;
    z-index: 550;
    background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}



#top-bar {
  height: 10%;
  background: url(images/headline.png);
  /* border-bottom: solid #b18a76ba 5px; */
  position: relative;
  background-size: 100% 100%;
	overflow: hidden;
  text-align: center;
  font-size: 400%;
  font-family: orgovan-rounded-web, sans-serif;
  display: flex;
  align-items: center;
}

#top-bar #scenario-picker-logo {
  width: 20%;
  background-color: aqua;
  height: 100%;
}

#top-bar #logo {
    /* background-image: url(images/logo-en.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    flex-grow: 3;

	color: #221A42;
}

#lang-select-wrap#lang-select-wrap {
    display: flex;
    margin: 0;
    max-height: unset;
    right: -50%;
    left: unset;
    top: 50px;
    position: absolute;
    transition: right .2s;
    width: fit-content;
    overflow: hidden;
    z-index: 550;
    flex-wrap: wrap;
    max-width: 39%;
    justify-content: center;
}
#lang-select-wrap#lang-select-wrap.visible {
  transform: translate(0%, 0);
  z-index: 600;
  right: 5%;
}

#lang-select, .lang-select {
  height: 130px;
  top: 5%;
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 100;
}

#lang-select {
    height: 60%;
    right: 10%;
    z-index: 500;
    display: inline-block;
}
.lang-select.de {
  background-image: url(images/flag-de.png);
}
.lang-select.en {
  background-image: url(images/flag-en.png);
}
.lang-select.cs {
  background-image: url(images/flag-cs.png);
}
.lang-select.ko {
  background-image: url(images/flag-ko.png);
}
.lang-select.jp {
  background-image: url(images/flag-jp.png);
}
.lang-select.fr {
  background-image: url(images/flag-fr.png);
}
.lang-select.ru {
  background-image: url(images/flag-ru.png);
}

.landscape #top-bar #logo {
	font-size: 300%;
}

#cge-logo {
    height: 9em;
    width: 15em;
    background: url(images/cge-logo.jpg);
    /*position: absolute;*/
    /* left: 0; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s;
    /* margin: -3px; */
    bottom: 5%;
    left: 5%;
}

#cge-logo:hover {
	transform: scale(1.2);
}

#draw-number, #discard-number {
    width: 10%;
    font-size: 2em;
    text-align: center;
    position: absolute;
    left: -2%;
    padding: 35px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#draw-number {
    background-image: url(images/deck.png);
	top: -15px;
}

#discard-number {
    background-image: url(images/deck_02.png);
	bottom: 2%;
	   color: #bfd2d6;
}
div#draw-number.no-cards {
    background: none;
}

#draw-number, #discard-number {
    font-family: orgovan-rounded-web, sans-serif;
    /* font-family: roboto, sans-serif; */
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
	user-select: none;
}

.tab {
	position: absolute;
	height: 90%;
  width: 100%;
  top: 10%;
	overflow: hidden;
  left: -100%;
  transition: left 1s;
  float: left;
}

.tab.active {
  left: 0%;
}

#scenario-picker {
    background: magenta;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 600;
    overflow: hidden;
    transition: opacity 1s, left 1s;
}

.card-wrap {
	filter: drop-shadow(2px 4px 6px black);
	-webkit-transform-style: preserve-3d;

	transition: transform 1s, opacity .5s, left 1s, top 1s, filter .3s;
	position: absolute;
}

/*.card-wrap * {
	pointer-events: none;
}*/

.card-front {
    background: url(images/card-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-wrap .card-back {
    transform: rotateY(180deg);
    transform-origin: center;
	background: url(images/cards/revers.jpg);
    background-size: cover;
}

.card-front * {
    color: black;
    text-align: center;
	margin: 0;
  pointer-events: none;
}

.card-front h2 {
	font-family: catseye, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 83px;
}

body[data-lang='ru'] .card-front h2 {
    font-size: 72px;
}

.card-front p {
    font-family: hpSimplified, Arial;
    font-size: 42px;
    margin: 0px 40px;
    margin-bottom: 20px;
}

[data-lang=jp] .card-front p {
    font-size: 37px;
    line-height: 117%;
}
.cloud {
    background-image: url(images/cards/cloud.png);
    width: 100%;
    background-size: cover;
    padding-top: 380px;
    border-radius: 50px;
    position: relative;
}
.cloud > .ship-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  background-image: url(images/cards/ship_icon.png);
  background-repeat: no-repeat;
  top: 334px;
}

:is(p, li) .ship-icon {
    background-image: url(images/cards/ship_icon-nasty_surprise.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
}

li .ship-icon {
  background-image: url(images/cards/ship_icon.png);
}

.card-front .card-image {
	flex: 1 1 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px;
}


#card-0 .card-image {
	background-image: url(images/card1.jpg);
}

.card-wrap .card-front, .card-wrap .card-back, .card-wrap {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	position: absolute;
	width: 1219px;
    height: 794px;
	box-sizing: border-box;
    border-radius: 50px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-origin: center;
}



.rotate-wrap {
    transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card-wrap.flipped .rotate-wrap {
	transform: rotateY(180deg);
}

button {
    position: absolute;
    font-size: 30px;
    padding: 17px;
    transition: top 1s, left 1s, transform .2s, width 1s, height 1s, opacity 1s;
    z-index: 200;
    padding: 0;
    border: none;
    background-image: url(images/enter_button.png);
    background-color: transparent;
    background-size: 100% 100%;
    color: white;
    font-family: orgovan-rounded-web, sans-serif;
	padding: 1vw 2vw;
}
button:active {
	transform: scale(0.95);
}
button:hover {
	cursor: pointer;
}
#draw-button:hover, .discard-button:hover {
	transform: translate(-50%, -50%) scale(0.9);
}
#draw-button:active, .discard-button:active, .i-button:active {
	transform: translate(-50%, -50%) scale(0.8);
}

.card-wrap:hover  {
	filter: drop-shadow(0px 0px 4px white);
}

#draw-button {
    background: url(images/plus-button.jpg);
    background-size: cover;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 20%;
    padding: 0;
}
#draw-button.small {
	transform: translate(-50%, -50%);
}

.discard-button, .i-button {
    background: url(images/x-button.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    border: none;
    border-radius: 9.5px;
    transform: translate(-50%, -50%) scale(1);
    right: -5%;
    top: 7%;
    width: 9.8%;
    height: 15%;
    padding: 0;
}
.i-button {

}
button.hidden {
    opacity: 0.5;
    filter: grayscale(1);
}

#button-wrap {
	position: absolute;
    left: 12%;
}
.landscape #button-wrap {
    left: 0;
    top: 22%;
    width: 17%;
    display: flex;
    flex-direction: column;
}
.landscape button {
	font-size: 21px;
}
#discard-all-button, #reshuffle-discard-button {
	position: relative;
	margin: 10px;
	margin-top: 22px;
}


#help-text, .help-text, #lang-select-wrap {
    color: white;
    background: rgb(9 41 72 / 87%);
    border: solid 4px rgba(59, 97, 168, 1);
    border-radius: 20px;
    /* padding: 2vw; */
    position: absolute;
    /* top: 25px; */
    font-size: min(24px, 3.5vw);
    /* margin: 6%; */
    top: 6%;
    left: 6%;
    opacity: 1;
    transition: opacity .5s, left .5s;
    z-index: 220;
    max-height: 88%;
    /* height: 88%; */
    width: 88%;
    overflow: auto;
}
.help-text {
    text-align: left;
	margin: 5%;
	opacity: 0;
	left: -100%;
	position: absolute;
    width: 80%;
	font-size: 200%;

}
.help-text li {
    color: white;
}
.help-text.visible {
	opacity: 1;
	left: 0;
  pointer-events: all;
}

.help-text * {
    text-align: left;
}
:is(#help-text, #help-wrap).visible {
	opacity: 1;
	pointer-events: all;
	left: 0;
}
#help-text * {
	text-align: center;
	margin: 0;
}
#help-text :is(h1, .footnote) {
	color: rgba(242, 203, 23);
}
#help-text h1 {
    font-size: 2.4em;
	line-height: 1.01;
	margin: 37px 0;
}
#help-text h2 {
    font-size: 1.3em;
	margin: 20px 0;
}
#help-text div, .help-text * {
    margin: 20px 0;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 5%;
}

#help-wrap {
	width: 100%;
    height: 100%;
    background: rgba(30, 40, 100, 0.8);
    z-index: 450;
    position: absolute;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s, left .5s;
	left: 150%;
}

button#help-button {
    padding: 7px 23px;
    /* background: #6262d3; */
    z-index: 201;
    margin: auto auto;
    font-size: 4em;
    background-image: url(images/i-button.png);
    color: #221A42;
    background-color: transparent;
    height: 80%;
    width: 10%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

button.i-button {
    top: 32%;
	right: -7%;
    background-image: url(images/info.png);
    pointer-events: all;
}
button.discard-button {
  pointer-events: all;
}

span.x-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(images/x-button.jpg);
    background-size: cover;
    margin: auto;
    border-radius: 2px;
	transform: translate(0px, 15%);
}

span.plus-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(images/plus-button.jpg);
    background-size: cover;
    margin: auto;
    border-radius: 2px;
	transform: translate(0px, 15%);
}

span.i-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(images/info.png);
    background-size: cover;
    margin: auto;
    border-radius: 2px;
	transform: translate(0px, 15%);
}

#turn-portrait {
    background: black;
    display: none;
	height: 100%;
    color: white;
    text-align: center;
    padding: 15% 10%;
    font-size: 300%;
    font-family: 'orgovan-rounded-web';
}

@media (max-width: 1000px) and (orientation: landscape) {
	#turn-portrait {
		display: block;
	}
}